/bin/
/build/
/deps/lib/

/project/vs*/.vs
/project/vs*/ipch
/project/vs*/*.db
/project/vs*/*.opendb
/project/vs*/*.opensdf
/project/vs*/*.sdf
/project/vs*/*.suo
/project/vs*/*.user
deps/src/curl
deps/src/discord-rpc
deps/src/pugixml
deps/src/random
deps/src/rapidjson
deps/src/utf8proc
deps/src/zlib
